{% assign language = page.language | default: post.language %}
{% assign created = page.created | default: post.created %}
{% assign published = page.date | default: post.date %}
{% assign modified = page.modified | default: post.modified %}
<div class="date">
{% if created %}
	{% if language == 'nb' %}
	<span title="Opprettet">{{ created | date: "%d/%m/%y" }}</span>
	{% else %}
	<span title="Created">{{ created | date: "%m/%d/%y" }}</span>
	{% endif %}
{% endif %}
{% if published %}
	{% if language == 'nb' %}
	<span title="Publisert">{{ published | date: "%d/%m/%y" }}</span>
	{% else %}
	<span title="Published">{{ published | date: "%m/%d/%y" }}</span>
	{% endif %}
{% endif %}
{% if modified %}
	{% if language == 'nb' %}
		{% for mdate in modified %}
			<span title="Endret">{{ mdate | date: "%d/%m/%y" }}</span>
		{% endfor %}
	{% else %}
		{% for mdate in modified %}
			<span title="Modified">{{ mdate | date: "%m/%d/%y" }}</span>
		{% endfor %}
	{% endif %}
{% endif %}
</div>