{% assign language = page.language | default: post.language %}
{% assign created = page.created | default: post.created %}
{% assign published = page.date | default: post.date %}
{% assign modified = page.modified | default: post.modified %}
<div class="date">
	{% if created %}
	<div class="created">
		{% if language == 'nb' %}
		Opprettet: {{ created | date: "%d/%m/%y" }}
		{% else %}
		Created: {{ created | date: "%m/%d/%y" }}
		{% endif %}
	</div>
	{% endif %}
	{% if published %}
	<div class="published">
		{% if language == 'nb' %}
		Publisert: {{ published | date: "%d/%m/%y" }}
		{% else %}
		Published: {{ published | date: "%m/%d/%y" }}
		{% endif %}
	</div>
	{% endif %}
	{% if modified %}
	<div class="modified">
		{% if language == 'nb' %}
		Endret: {{ modified | date: "%d/%m/%y" }}
		{% else %}
		Modified: {{ modified | date: "%m/%d/%y" }}
		{% endif %}
	</div>
	{% endif %}
</div>