<meta name="twitter:card" value="summary" />
<meta name="twitter:site" content="{{ site.title }}" />
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}" />
{% endif %}
<meta name="twitter:image" content="{{ site.production_url }}{{ page.image | default: '/assets/icons/logo-small-square.png' }}" />
<meta name="twitter:description" content="{{ page.description | default: site.description }}" />
{% if page.authors %}
<meta name="twitter:creator" content="{{ page.authors | join: ', ' | markdownify | strip_html | strip }}" />
{% endif %}
