
.avatar {
	float: left;
	margin-right: 1em;
	margin-bottom: 0;
}
.metadata {
	float: right;
	margin-left: 2em;
}
.metadata .header {
	font-weight: 600;
}
.metadata .header:first-letter {
	text-transform: uppercase;
}
.metadata ul {
	padding-left: 1em;
	list-style: square;
}
.metadata li p {
	margin: 0;
}
.leading li > *:first-child {
	font-weight: bold;
}
h1:first-letter,
h2:first-letter,
h3:first-letter,
h4:first-letter {
	text-transform: uppercase;
}
h2 {
	font-size: 34px;
	font-weight: 400;
	line-height: 40px;
}
h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}
h4 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .02em;
}
h2, h3, h4, h5, h6 {
	color: rgba(32,32,32,0.87);
	font-weight: 450;
}
h2 a, h3 a, h4 a, h5 a, h6 a,
h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
	color: rgba(48,48,48,0.87);
	font-weight: inherit;
}
h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: rgba(48,48,48,0.67);
	font-weight: inherit;
}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: rgba(61,130,249,0.87);
	font-weight: inherit;
}
h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
	color: rgba(61,130,249,0.67);
	font-weight: inherit;
}
.authors {
	margin-bottom: 0.5em;
}
.authors p {
	margin: 0;
}
.date {
	margin-bottom: 0.5em;
}
.authors + p,
.date + p {
	margin-top: 1em;
}
.excerpt {
	margin-top: 2.0em;
}
.excerpt + h2 {
	margin-top: 0;
}
.mdl-navigation a {
	background-position: center left 20px;
	background-repeat: no-repeat;
	background-size: 28px 28px;
}
.mdl-navigation a { background-image: url(/assets/icons/child.svg); }
.mdl-navigation a.is-active { background-image: url(/assets/icons/child-active.svg); }
.mdl-navigation a.parent { background-image: url(/assets/icons/categories.svg); }
.mdl-navigation a.parent.is-active { background-image: url(/assets/icons/categories-active.svg); }
.mdl-navigation a:first-child { background-image: url(/assets/icons/home.svg); }
.mdl-navigation a.is-active:first-child { background-image: url(/assets/icons/home-active.svg); }
.mdl-navigation a[href*=\/info\/] { background-image: url(/assets/icons/info.svg); }
.mdl-navigation a.is-active[href*=\/info\/] { background-image: url(/assets/icons/info-active.svg); }
.mdl-navigation a[href*=\/authors\/] { background-image: url(/assets/icons/authors.svg); }
.mdl-navigation a.is-active[href*=\/authors\/] { background-image: url(/assets/icons/authors-active.svg); }
.mdl-navigation a[href*=\/projects\/] { background-image: url(/assets/icons/projects.svg); }
.mdl-navigation a.is-active[href*=\/projects\/] { background-image: url(/assets/icons/projects-active.svg); }
#site-title {
	font-size: 110%;
}
.mdl-navigation a {
	font-size: 125%;
}
.mdl-navigation a {
	padding-left: 60px !important;
}
.mdl-navigation a.is-active{
	color: #3d82f9 !important;
}
.mdl-layout__drawer > .mdl-layout-title {
	margin: 0 0 0 0;
	padding: 32px 16px 32px 16px;
	text-decoration: none;
	color: #757575;
	font-weight:500;
}
/*
.mdl-layout__drawer > .mdl-layout-title:link {
	color: red;
	background-color: #fafafa !important;
}
.mdl-layout__drawer > .mdl-layout-title:hover {
	color: green;
	background-color: #e0e0e0 !important;
}
.mdl-layout__drawer > .mdl-layout-title:active {
	color: blue;
	background-color: #fafafa !important;
}
.mdl-layout__drawer > .mdl-layout-title:visited {
	color: yellow;
	background-color: #fafafa !important;
}
*/
table {
	border-collapse:collapse;
	border-spacing:0
}
thead {
	display:table-header-group
}
.table td,
.table th {
	background-color:#fff!important
}
.table {
	border-collapse:collapse!important
}
.table-bordered th,
.table-bordered td {
	border:1px solid #ddd!important
}
 
table {
	max-width:100%;
	background-color:transparent
}
th {
	text-align:left
}
.table{
	width:100%;margin-bottom:20px
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
	padding:8px;line-height:1.428571429;vertical-align:top;border-top:1px solid #ddd
}
.table>thead>tr>th {
	vertical-align:bottom;border-bottom:2px solid #ddd
}
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
	border-top:0
}
.table>tbody+tbody {
	border-top:2px solid #ddd
}
.table .table {
	background-color:#fff
}
.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
	padding:5px
}
.table-bordered {
	border:1px solid #ddd
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border:1px solid #ddd
}
.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
	border-bottom-width:2px
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color:#f9f9f9
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
	background-color:#f5f5f5
}
table col[class*="col-"] {
	position:static;display:table-column;float:none
}
table td[class*="col-"],
table th[class*="col-"] {
	display:table-cell;float:none
}
.right_aligned {
	float: right;
}