
.avatar {
	float: left;
	margin-right: 1em;
	margin-bottom: 0;
}
.metadata {
	float: right;
	margin-left: 1em;
	/*font-size:87%;*/
}
.metadata th {
	text-align: right;
}
.metadata td {
	text-align: left;
}
.leading li > *:first-child {
	font-weight: bold;
}
h1:first-letter,
h2:first-letter,
h3:first-letter,
h4:first-letter {
	text-transform: uppercase;
}
/*
h1 {
	font-size: 45px;
	font-weight: 400;
	line-height: 48px;
}
*/
h2 {
	font-size: 34px;
	font-weight: 400;
	line-height: 40px;
}
h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}
h4 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .02em;
}
h2, h3, h4, h5, h6 {
	color: rgba(0,0,0,0.67);
}
h2 a, h3 a, h4 a, h5 a, h6 a,
h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
	color: rgba(0,0,0,0.87);
}
h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: rgba(0,0,0,0.67);
}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: rgba(61,130,249,0.87);
}
h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
	color: rgba(61,130,249,0.67);
}
/*
.content {
	padding: 0;
}
*/
.mdl-navigation a.parent {
	background-position: center left 20px;
	background-repeat: no-repeat;
	background-size: 28px 28px;
}
.mdl-navigation a[href*=home] { background-image: url(/assets/icons/home.svg); }
.mdl-navigation a.is-active[href*=home] { background-image: url(/assets/icons/home-active.svg); }
.mdl-navigation a[href*=about] { background-image: url(/assets/icons/about.svg); }
.mdl-navigation a.is-active[href*=about] { background-image: url(/assets/icons/about-active.svg); }
.mdl-navigation a[href*=projects] { background-image: url(/assets/icons/cloud.svg); }
.mdl-navigation a.is-active[href*=projects] { background-image: url(/assets/icons/cloud-active.svg); }
#site-title {
	font-size: 110%;
}
.mdl-navigation a {
	font-size: 125%;
}
.mdl-navigation a {
	padding-left: 60px !important;
}
.mdl-navigation a.is-active{
	color: #3d82f9 !important;
}
/*
#site-title {
	background-image: url(/assets/icons/logo-small.svg);
	background-position: center left 0px;
	background-repeat: no-repeat;
	background-size: 36px 36px;
	padding-left: 48px;
	padding-top: 16px;
	padding-bottom: 16px;
}
*/