---
layout : default
use_math : exclude
---

<h2>{{ page.name }}</h2>

<table class="metadata">
	{% if page.email %}
	<tr><th>Email:</th><td><a href="mailto:{{page.email}}">{{ page.email }}</a></td></tr>
	{% endif %}
	{% if page.github %}
	<tr><th>Github</th><td><a href="https://github.com/{{page.github}}">{{ page.github }}</a></td></tr>
	{% endif %}
	{% if page.twitter %}
	<tr><th>Twitter</th><td><a href="https://twitter.com/{{page.twitter}}">@{{ page.twitter }}</a></td></tr>
	{% endif %}
	{% if page.keybase %}
	<tr><th>Keybase</th><td><a href="https://keybase.io/{{page.keybase}}">{{ page.keybase }}</a></td></tr>
	{% endif %}
	{% if page.linkedin %}
	<tr><th>Linkedin</th><td><a href="https://www.linkedin.com/in/{{page.wikimedia}}">{{ page.linkedin }}</a></td></tr>
	{% endif %}
	{% if page.wikimedia %}
	<tr><th>Wikimedia</th><td><a href="https://meta.wikimedia.org/wiki/user:{{page.wikimedia}}">User:{{ page.wikimedia }}</a></td></tr>
	{% endif %}
</table>

{% if page.github %}
{% avatar {{ page.github }} %}
{% endif %}

{{ content }}
