---
layout : default
use_math : exclude
---

<h2>{{ page.tagline }}</h2>

{% include info.html %}

{% if page.avatar %}
{% avatar {{ page.avatar }} %}
{% endif %}

This deed highlights only some of the key features and terms of the license <a class="license" href="{{ page.link }}">{{ page.name }}</a>. It is not a license in itself and has no legal value. You should carefully review all of the terms and conditions of the actual license before using the licensed material.

<p class="note">There are a <a href="https://spdx.org/licenses/">large number of licenses</a>, and existence of some clause, or interpretation of such a clause, from any random license does not have any bearing on this specific license. Read the <a class="license" href="{{ page.legal | default: page.link }}">legal code</a> carefully before you reuse any content.</p>

{{ content }}
